@{
    ViewData["Title"] = "Advertising Disclosure";
}

<div class="container content-page">
    <h1>Advertising Disclosure</h1>
    <p class="last-updated">Last Updated: January 2025</p>
    
    <p>This Advertising Disclosure Policy ("Disclosure") explains how Kairos Weather uses advertising on our website and our relationship with third-party advertising networks, including Google AdSense.</p>
    
    <h2>1. Third-Party Advertising</h2>
    <p>Kairos Weather uses third-party advertising companies to serve ads when you visit our website. These companies may use information about your visits to this and other websites in order to provide advertisements about goods and services of interest to you.</p>
    
    <h2>2. Google AdSense</h2>
    <p>We use Google AdSense to display advertisements on our website. Google AdSense uses cookies to serve ads based on your prior visits to this website or other websites.</p>
    
    <h3>How Google Uses Cookies</h3>
    <p>Google's use of advertising cookies enables it and its partners to serve ads to you based on your visit to this site and/or other sites on the Internet.</p>
    
    <h3>Opting Out of Personalized Advertising</h3>
    <p>You can opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads" target="_blank" rel="noopener">Google's Ads Settings</a>. Alternatively, you can opt out of a third-party vendor's use of cookies by visiting the <a href="http://www.aboutads.info/choices/" target="_blank" rel="noopener">Network Advertising Initiative opt-out page</a> or the <a href="http://www.youronlinechoices.com/uk/" target="_blank" rel="noopener">European Digital Advertising Alliance</a>.</p>
    
    <h2>3. Advertising Partners</h2>
    <p>We work with the following advertising partners:</p>
    <ul>
        <li><strong>Google AdSense:</strong> Displays contextual and personalized ads</li>
        <li><strong>Other Ad Networks:</strong> We may work with additional advertising networks in the future</li>
    </ul>
    
    <h2>4. Data Collection for Advertising</h2>
    <p>Our advertising partners may collect and use information about your use of our website, including:</p>
    <ul>
        <li>IP address</li>
        <li>Browser type and version</li>
        <li>Operating system</li>
        <li>Referring website</li>
        <li>Time and date of visit</li>
        <li>Pages visited and time spent on pages</li>
        <li>Clickstream data</li>
    </ul>
    
    <p>This information is used to:</p>
    <ul>
        <li>Serve advertisements that are more relevant to you</li>
        <li>Measure advertising effectiveness</li>
        <li>Prevent fraudulent clicks</li>
        <li>Improve the overall advertising experience</li>
    </ul>
    
    <h2>5. Our Advertising Practices</h2>
    <p>Kairos Weather is committed to ethical advertising practices. We:</p>
    <ul>
        <li>Do not sell your personal information to third parties</li>
        <li>Work only with reputable advertising networks</li>
        <li>Do not allow intrusive or deceptive advertisements</li>
        <li>Regularly review ad content for quality and relevance</li>
        <li>Comply with all applicable advertising regulations</li>
    </ul>
    
    <h2>6. Ad Content Responsibility</h2>
    <p>While we strive to ensure that advertisements displayed on our website are appropriate and relevant, we are not responsible for the content of third-party advertisements. The views and opinions expressed in advertisements are those of the advertisers and do not necessarily reflect our views.</p>
    
    <h2>7. User Control</h2>
    <p>You have control over your advertising experience:</p>
    <ul>
        <li>You can opt out of personalized advertising as described above</li>
        <li>You can use ad-blocking software (though this may affect website functionality)</li>
        <li>You can clear your browser cookies periodically</li>
        <li>You can adjust your browser privacy settings</li>
    </ul>
    
    <h2>8. Revenue Disclosure</h2>
    <p>Kairos Weather may receive compensation when you click on or make purchases through advertisements displayed on our website. This compensation helps us maintain and improve our free weather services.</p>
    
    <h2>9. Children's Privacy</h2>
    <p>We do not knowingly direct advertising to children under the age of 13. We comply with the Children's Online Privacy Protection Act (COPPA) and do not collect personal information from children for advertising purposes.</p>
    
    <h2>10. Changes to This Disclosure</h2>
    <p>We may update this Advertising Disclosure from time to time. We will notify users of any material changes by posting the new disclosure on this page. Your continued use of our Service after such modifications constitutes your acceptance of the new disclosure.</p>
    
    <h2>11. Questions About Advertising</h2>
    <p>If you have questions about our advertising practices or this disclosure, please contact us:</p>
    <ul>
        <li>Email: <a href="mailto:contact@kairosweather.info">contact@kairosweather.info</a></li>
        <li>Website: <a href="/Static/Contact">Contact Us</a></li>
    </ul>
    
    <h2>12. Related Policies</h2>
    <p>This Advertising Disclosure should be read in conjunction with our:</p>
    <ul>
        <li><a href="/Static/PrivacyPolicy">Privacy Policy</a></li>
        <li><a href="/Static/Terms">Terms of Service</a></li>
        <li><a href="/Static/PrivacyPolicy#cookies">Cookie Policy</a></li>
    </ul>
</div>
